<div>
    <h3>Category</h3>
    <div id="Cat-container">
        <div id="cat-card">
            <div id="cat-image">
                <p>Image</p>
            </div>
            <div id="cat-footer">
                <p>Name</p>
            </div>
        </div>

        <div id="cat-card">
            <div id="cat-image">
                <p>Image</p>
            </div>
            <div id="cat-footer">
                <p>Name</p>
            </div>
        </div>
        <div id="cat-card">
            <div id="cat-image">
                <p>Image</p>
            </div>
            <div id="cat-footer">
                <p>Name</p>
            </div>
        </div>
    </div>
</div>