.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  /* img{
    height:200px;
    width: 100px;
  } */
  .myContent{
    padding: 20px;
    border: 1px solid teal;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
  }
  
  