<div class="prod-main">
    <h3>Products</h3>
    <div class="prod-container">

        <div id="prod-card">
            <div class="prod-image">
                <img mat-card-image [src]="imagePath1">
            </div>
            <div class="prod-name">
                <p>Name</p>
            </div>
            <div class="prod-desc">
                <p>Size : 2LTR</p>
            </div>
            <div class="prod-price">
                <p>Price</p>
            </div>
            <div class="prod-cart">
                <p>button</p>
            </div>
        </div>

        <div id="prod-card">
            <div class="prod-image">
                <img mat-card-image [src]="imagePath2">
            </div>
            <div class="prod-name">
                <p>Name</p>
            </div>
            <div class="prod-desc">
                <p>Size : 2LTR</p>
            </div>
            <div class="prod-price">
                <p>Price</p>
            </div>
            <div class="prod-cart">
                <p>button</p>
            </div>
        </div>
    </div>
</div>